/* Colours:
#D90000
#A13030
#8C0000
#D94141
#590000
*/
/* Fonts
font-family: 'Architects Daughter', cursive;
font-family: 'Comfortaa', cursive;
*/

.logo {
    margin: 0 auto;
     display: block;
 }
 
 body {
     margin: 0;
     font-family: 'Nunito', sans-serif;
     background-image: url("../img/background.jpg");
     background-size: cover;
     background-repeat: no repeat;
     
 }
 
 #main {
     width: 70%;
     background-color: #fff;
     margin: 0px auto;
     max-width: 1000px;
     
 }
 
 nav {
     text-align: center;
     padding: 30px;
     background-color: #D90000;
     background-image: url("../img/newlogo.png");
     background-repeat: no-repeat;
     background-position: left center;
     
 
 }
 
 nav a {
     color: #fff;
     text-decoration: none;
     font-size: large;
     padding-left: 2%;
     padding-right: 2%;
     
 }
 
 nav a:hover {
     color: #590000; 
 }
 
 ul {
     padding-left: 10%;
     margin-bottom: 50px;
 }
 
 footer {
     text-align: center;
     background-color: #D90000;
     padding: 20px;
 }
 
 #main p,h1,h2,h3{
     padding-left: 5%;
     padding-right: 5%;
     line-height: 170%;
 }
 
 .sectionpic{
     width: 100%;
 }

 /*contact form page */

iframe {
    width: 50%;
    margin: 20px auto;
    display: block;
}

input {
    width: 100%;
    margin-bottom: 20px;
    padding-top:5px;
    padding-bottom: 5px;

}

input[type="submit"] {
    background-color :darkred;
    border: none;
    color: #fff;
    padding:16px 32px;
    margin: 5px 5px;
}

form {
    padding-left: 10%;
    padding-right: 10%;
}

/*gallery page */

.flex-container {
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    
}

.flex-container > div {
    
    flex: 31%;
    margin: 1%;
    justify-content: center;
    display: flex;
    
}

.flex-container img {
    width: 90%;
}

/* Image Slider */
.images-slider {
    display: flex;
    height: 300px;
    position: relative;
    z-index: 1;
    align-items: center;
    justify-content: center;
}

#slides {
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    background-size: cover !important;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing {
    opacity: 1;
    z-index: 2;
}

.slide:nth-of-type(1) {
    background: url("../img/cafe_slider1.jpg") no-repeat top;
}
.slide:nth-of-type(2) {
    background: url("../img/cafe_slider2.jpg") no-repeat top;
}
.slide:nth-of-type(3) {
    background: url("../img/cafe_slider3.jpg") no-repeat top;
}

/* Testimonial */
.testimonial-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.testimonial {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
    box-shadow: 0 0 5px grey;
}

.testimonial h3 {
    font-family: 'Comfortaa', cursive;
}

.testimonial img {
    width: 200px;
    border-radius: 50%;
    border: 10px solid white;
    box-shadow: 0 0 5px gray;
}

blockquote {
    font-family: 'Architects Daughter', cursive;
}

blockquote span {
    font-size: 45px;
    color: #D90000;
    font-style: italic;
}

blockquote h4 {
    font-family: 'Comfortaa', cursive;
}

.arrow-wrapper {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .arrow-inner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }
  
  .arrow-inner img {
    opacity: 0.5;
    cursor: pointer;
  }

.flex-end {
    justify-content: flex-start;
}

/* Mobile-friendly */
@media (max-width: 1000px){
    nav {
           background-image: url("../img/fork.png")
       }
   
   }